ul {
  font-family: "Merienda One", cursive;
  text-align: center;
}
p {
  font-family: "Merienda One", cursive;
  text-align: center;
  font-size: 30px;
  margin: 0;
  color: White;
}
body {
  text-align: center;
  background: linear-gradient(#011f4b, #03396c, #005b96);
}
figcaption {
  display: block;
  color: white;
}
