ul {
  font-family: "Merienda One", cursive;
  text-align: center;
}
body {
  text-align: center;
  background: linear-gradient(#011f4b, #03396c, #005b96);
  font-size: 20px;
}
div.jumbotron {
  background: linear-gradient(#011f4b, #03396c, #005b96);
}
.display-3 {
  text-align: center;
  font-family: "Merienda One", cursive;
  color: white;
}
.lead {
  text-align: center;
  font-family: "Merienda One", cursive;
}
.paragraph {
  text-align: center;
}
p {
  font-family: "Merienda One", cursive;
  text-align: center;
  font-size: 15px;
  margin: 0;
  color: White;
}
.morph {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.9s ease;
}

.morph:hover {
  background: transparent;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
#clockdiv {
  font-family: "Merienda One", cursive;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv div {
  padding: 10px;
  display: inline-block;
}

#clockdiv div span {
  padding: 15px;
  border: dashed;
  border-radius: 3px;
  background: transparent;
  display: inline-block;
}

.smalltext {
  font-family: "Merienda One", cursive;
  padding-top: 5px;
  font-size: 16px;
  color: white;
  text-align: center;
}
