.morph {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.9s ease;
}

.morph:hover {
  background: transparent;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}